.top {
    justify-content: flex-start;
    align-items: center;
    padding-top: 60px;
}
.bottom {
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 60px;
}
.left {
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
}
.right {
    justify-content: center;
    align-items: flex-end;
    padding-right: 80px;
}
