.layoutContainer {
    border: 1px solid var(--unfocused-border-color);
    padding: var(--geist-pad);
    border-radius: var(--geist-border-radius);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}

.spaceContainer {
    gap: var(--ant-margin-sm);
    background-color: white;
}
